/* -------------------------------------------------- */
/* Rules for info section at the top of the page */
/* -------------------------------------------------- */
@import "../assets/fonts/fonts.css";


#topbar_info {
    top: 0px;
    position: sticky;
    /* border: 1px solid red; */
    background-color: #555555;
    z-index: 1; /* keep above other elements */
}

#topbar_info > * { font-family: "Cascadia"; }

#counter, #scroll_counter {
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Cascadia";
    background-color: transparent;
    display: inline; /* horizontal layout */
}

#scroll_counter { color: orange; }

.table_counter {
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
}

#table_container {
    display: flex;
}

#table_container > table {
    font-size: 1em;
    color: #FFFFFF;
    background-color: #777777;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*display: inline-block;*/
    width: 100%; /* expand horizontally to fill window */
}

.threshold_table th {
    border: 2px solid #00000020;
}

.threshold_table > li {
    font-size: 0.75em;
    color: #00FF00;
    background-color: #777777;
    list-style: inside;
    /*margin-top: -1px;*/
    padding-right: 4px;
    border: 1px solid #FFFFFF20;
}

.threshold_table > li.good { color: cyan; background-color: #00FF0044; }
.threshold_table > li.bad { color: #D0D0D088; background-color: #FF000033; }

#jump_container { color: lightgrey; padding: 2px; }

#scroll_counter .bolt-label::before, #counter .bolt-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.1em;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    -webkit-mask: url(../img/lightningbolt.svg) no-repeat center / contain;
    mask: url(../img/lightningbolt.svg) no-repeat center / contain;
}
