#background {
    background-color: #101050;
}

.tiling {
    height: 10000px;
    background-color: transparent;
    background-image: url('lightningbolt.svg');
    background-repeat: round round;
    background-size: 20px;
    background-attachment: scroll;
}

/* background-tiling that resizes to match containing  */
#nested.tiling {
    width: fit-content;
    height: fit-content;
}

.resizeable_tiling {
    /* scaled icons are 200px tall, and therefore 100px wide, so 1 row of 10 */
    width: 1000px;
    height: 200px;
    resize: both;
    overflow: hidden; /* resize handles don't appear unless overflow is specified*/
    background-color: transparent;
    background-image: url('lightningbolt.svg');
    background-repeat: round round;
    background-size: auto 200px; /* 1/10th scale of source: 1000x2000 */
    background-attachment: local;
    
    border: 1px solid #777777;
}

